<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matdatour.board">
	<select id="selectAll" resultType="boarddto">
		select board_num, board_group,
		board_date, title, recommend, user_num
		from mat_board
	</select>

	<select id="selectByNum" resultType="boarddto" parameterType="int">
		select board_num, board_group,
		board_date, title, recommend, user_num
		from mat_board
		where
		board_num=#{aa}
	</select>

	<insert id="boardInsert" parameterType="boarddto">
		insert into
		mat_board(board_num, board_group,
		board_date, title, recommend,
		user_num)
		values(#{board_num},#{board_group},sysdate,#{title},0,#{user_num})
	</insert>

	<update id="boardUpdate" parameterType="boarddto">
		update mat_board set
		board_group=#{board_group}, board_date=sysdate, title=#{title}
	</update>

	<delete id="boardDelete" parameterType="int">
		delete from mat_board
		where
		board_num=#{board_num}
		and
		user_num=#{user_num}
	</delete>
</mapper>




