<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matdatour.contents">

	<insert id="contentInsert" parameterType="contentdto">
		insert into
		mat_comment(c_num, c_comment,
		c_date, board_num, board_group,
		user_num)
		values(#{c_num},#{c_comment},sysdate,#{board_num},#{board_group},#{user_num})
	</insert>

	<update id="contentUpdate" parameterType="contentdto">
		update mat_comment set
		c_comment=#{c_comment}, c_date=sysdate
	</update>

	<delete id="contentDelete" parameterType="int">
		delete from mat_comment
		where
		c_num=#{c_num}
		and
		user_num=#{user_num}
	</delete>
</mapper>
