<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matdatour.user_board_join">

	<resultMap id="get-result" type="joindto">
		<result property="user_num" column="user_num" />
		<result property="user_nick" column="user_nick" />
		<collection property="boardList" javaType="list" column="user_num"
			select="getJoinTest2ById" />

	</resultMap>


	<select id="getJoinTestAll" resultMap="get-result"
		parameterType="string">
		select user_num, user_nick from mat_user
	</select>
	<select id="getJoinByUser_num" parameterType="int" resultMap="get-result">
		select * from mat_user where user_num = #{user_num}
	</select>
	<select id="getJoinTest2ById" parameterType="int" resultType="boarddto">
		select * from mat_board where user_num=#{user_num}
	</select>


	<select id="listAll" resultType="userboarddto" parameterType="string">
		select mu.user_num, mu.user_nick, mb.title,
		mb.board_num,
		mb.board_date, mb.recommend, mb.m_content, mb.m_image
		from mat_board
		mb, mat_user mu
		where mu.user_num = mb.user_num
		and
		mb.board_group=#{board_group}
		order by board_num desc
	</select>
	<select id="slistAll" resultType="userboarddto" parameterType="string">
		select mu.user_num, mu.user_nick, mb.title,
		mb.board_num,
		mb.board_date, mb.recommend, mb.m_content, mb.m_image
		from mat_board
		mb, mat_user mu
		where 
		mb.title like '%#{mtitle}%'
		order by board_num desc
	</select>

	<!-- 댓글 목록 -->
	<select id="commentlist" resultType="commentdto" parameterType="int">
		SELECT mc.c_num, mc.board_num,
		mc.c_comment, mc.c_replyer, mc.regdate c_date
		FROM mat_comment mc
		WHERE board_num=#{board_num}
		ORDER BY
		mc.c_num
		asc
	</select>


</mapper>