<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="boarddto" type="com.matdatour.board.BoardDTO" />
		<typeAlias alias="commentdto" type="com.matdatour.comment.CommentDTO" />
		<typeAlias alias="contentdto" type="com.matdatour.contents.ContentDTO" />
		<typeAlias alias="userdto" type="com.matdatour.user.UserDTO" />
		<typeAlias alias="admindto" type="com.matdatour.admin.AdminDTO" />
	</typeAliases>
</configuration>
